<manifest xmlns:tools="http://schemas.android.com/tools"
  xmlns:android="http://schemas.android.com/apk/res/android"
  package="com.tasomaniac.muzei.comiccovers">

  <uses-permission android:name="android.permission.INTERNET" />
  <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
  <uses-permission android:name="android.permission.WAKE_LOCK" />

  <application
    android:allowBackup="true"
    android:name=".App"
    android:icon="@mipmap/ic_launcher"
    android:label="@string/app_name"
    android:usesCleartextTraffic="true"
    tools:ignore="GoogleAppIndexingWarning,UnusedAttribute"
    android:fullBackupContent="@xml/backup_descriptor">

    <provider
      android:name=".ComicVineArtProvider"
      android:authorities="${comicVineAuthority}"
      android:label="@string/source_name"
      android:description="@string/source_description"
      android:exported="true"
      android:permission="com.google.android.apps.muzei.api.ACCESS_PROVIDER">
      <intent-filter>
        <action android:name="com.google.android.apps.muzei.api.MuzeiArtProvider" />
      </intent-filter>
    </provider>

  </application>

</manifest>
